/* eric meyer's CSS reset from www.cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*end reset */

.systemfont {
	font-family: 'Geo', sans-serif;
}

.final {
	line-height: 120px;
}

.result {
	font-size: 200%;
}

.a-bit-stronger {
	font-weight: bold;
	font-size:110%;
}

.centretext {
	text-align: center;
}

.buttonlike {
	font-size: 300%;
	color: black;
	background-color: #e1e1e1;
	text-decoration: none;
	margin: 10px 0px;
}

.buttonlike-tweetcolours {
	font-size: 300%;
	color: white;
	background-color: #1c82ea;
	text-decoration: none;
	margin: 10px 0px;
}

.modestlink {
	color: #777777;
	text-decoration: none;
}

#winner-image {
	margin: 0 auto;
	width: 300px;
}

#wflf-content-box, #response {
	margin: 0 auto;
	width:50%;
	padding: 20px 0px;
	text-align: center;
	line-height: 20px;
}

#intro {
	text-align: center;
	margin-top:20px;
}

#wflf-content-box .wflf-hugenum {
	font-size: 800%;
	font-family: 'Helvetica', sans-serif;
	color: red;
	text-align: center;
}

#wflf-scorebox p.systemfont {
	font-size: 200%;
}

#wflf-content-box #subheading {
	border-top: 1px solid gray;
	border-bottom: 1px solid black;
	width:100%;
	text-align: center;
	margin: 20px 0px;
}

#wflf-content-box p {
	padding-bottom: 10px;
}

#wflf-content-box h2 {
	font-family: 'Geo', sans-serif;
	font-size: 300%;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}

.wflf-broad-text {
	font-family: 'Geo', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

#wflf-top-ten-table img {
	margin: 0 auto;
	display: block;
}

#wflf-top-ten-table li {
	padding: 5px 0px;
	margin-left:20px;
}

#wflf-question-number {
	float:left;
	width: 220px;
	font-size: 220%;
	font-weight: bold;
	font-family: 'Geo';
}

#wflf-comment {
	clear:both;
	padding-top: 20px;
	font-size:120%;
	line-height:24px;
}

#wflf-round-stats {
	float:right;
	width:300px;
	color: red;
	font-family: 'Geo';
	font-size: 220%;
	text-align: right;
}

#wflf-selection-buttons {
	padding-top: 15px;	
	text-align: center;
}

#wflf-selection-buttons input {
	width:200px;
	padding: 0px 50px;
	height:50px;
	font-size:150%;
	font-family: 'Geo';
}

#response { text-align: left; padding-bottom: 20px; }

#response #answer-report {
	font-size:120%;
	text-align: center;
}

#wflf-content-box {
	text-align: left;
	font-family: 'Ovo', serif;
	padding-top:50px;
}

.wflf-big-text {
	font-family: 'Helvetica', sans-serif;
	font-size: 450%;
}

#wflf-question-controls {
	font-size: 90%;
	text-transform: uppercase;
}

#main {
	clear:both;
}

#header {
	height: 75px;
	background-color: black;
	color: white;
}

#header #startbutton {
	float: left;
}

#header #startbutton a {
	display:block;
}

.red-bg {
	background-color: red;
}

.light-bg {
	background-color: gray;
}

#header #branding {
	padding: 10px;
	width: 300px;
	float: left;
}

#header p.tagline {
	font-family: 'Helvetica', sans-serif;
	color: #777777;
	text-transform: uppercase;
	font-size: 80%;
	letter-spacing: 0.3em;
}

#header h2 {
	font-size: 240%;
}

#header h2 a {
	text-decoration: none;
	color: white;
}

#header #menu ul {
	padding:28px 10px;
	float:right;
	font-size: 140%;
	font-family: 'Geo', serif;
}

#header ul li {
	display: inline;
	padding: 0px 3px;
}

#header ul li a {
	text-decoration: none;
	color: #555555;
}

#header ul li.red a:hover {
	color: red;
}

#header ul li.green a:hover {
	color: green;
}

#header ul li.orange a:hover {
	color: orange;
}

#header ul li.blue a:hover {
	color: blue;
}

#header ul li.yellow a:hover {
	color: yellow;
}

#footer {
	background-color: #e1e1e1;
	width:100%;
}

.footertext {
	float: right;
	font-family: 'Geo', sans-serif;
	padding: 6px 5px;
	text-transform: uppercase;
	font-size: 90%;
	letter-spacing: 0.1em;
	color: #777777;
}

.footertext a {
	text-decoration: none;
	color: black;
}

#wflf-scorebox {
	margin: 0 auto;
	display: block;
	width: 150px;
	text-align: center;
	line-height: 75px;
	text-transform: uppercase;
}

/* Sticky footer code from www.cssstickyfooter.com */

html, body {height: 100%;}

#wrap {min-height: 100%; }


#main {overflow:auto;
	padding-bottom: 50px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 25px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
