#wflf-content-box
  %h2 how?
  %p
    The website uses a
    %a{:href => "http://en.wikipedia.org/wiki/Web_scraping"} web scraper
    to harvest an equal number of the latest comments from the Daily Mail and Guardian websites, then chooses them for you at random.
  %br/
  %p{:style => "color: #777777;"} AMDG 2011