#wflf-content-box
  %h2 QUICK!
  %p An error deep in the internet has resulted in comments for the Daily Mail and Guardian websites being mixed up into one unholy heap!
  %p.a-bit-stronger Only you can save them!
  %p You will see 10 comments. For each one, choose, either 'Mail' or 'Guardian'.
  %p Do well, and the future of the free press is assured.
  %p.a-bit-stronger Do badly and we're back in the dark ages.
  
  #intro
    %form{:name => "input", :action => "/game/new", :method => "post" }
      %input.systemfont.buttonlike.red-bg{ :type => "submit", :name => "submit", :value => "Start" }
