#main
  #wflf-content-box
    #wflf-question-number
      %h3 Question #{@game.current_question.number}/10

    #wflf-comment
      %p= @game.current_question.comment_text
  
    #wflf-selection-buttons
      %form#left-form.paper-form{ :name => "input", :action => "/game/answer/" + URI.escape(@game.choice_names[0]), :method => "post" }
        .left_choice
          %input{ :type => "submit", :name => "left-choice", :value => @game.choice_names[0] }
      %form#right-form.paper-form{ :name => "input", :action => "/game/answer/" + URI.escape(@game.choice_names[1]), :method => "post" }
        .right_choice
          %input{ :type => "submit", :name => "right-choice", :value => @game.choice_names[1] }
  #response