#main
  #wflf-content-box
    #wflf-question-number
      %h3 Question #{@game.comment_number} /10

    #wflf-comment
      %p= @game.text_of_comment_to_be_guessed
  
    #wflf-selection-buttons
      %form{:name => "input", :action => "/game/answer/mail", :method => "post" }
        %input{ :type => "submit", :name => "mail", :value => "Mail" }
      %form.paper-form{:name => "input", :action => "/game/answer/guardian", :method => "post" }
        %input{ :type => "submit", :name => "guardian", :value => "Guardian" }
