#wflf-question-number
  %h3 Question #{@game.comment_number} /10

#wflf-comment
  %p= @game.text_of_comment_to_be_guessed
  
#wflf-selection-buttons
  %form.paper-form{:name => "input", :action => "/game", :method => "post" }
    %input.mail{ :type => "submit", :name => "mail", :value => "Mail" }
    %input.mail{ :type => "submit", :name => "guardian", :value => "Guardian" }
